@import '~bootstrap/scss/bootstrap';

.file-upload {
  label {
    display: inline-block;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
}

.feedlist {
  width: 100%;
  max-width: 800px;
  .card {
    margin-bottom: 16px;
    &-header {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }
    ul {
      li {
        list-style: none;
      }
    }
  }
}

.view-btn {
  font-size: 14px;
}

.li-dot {
  list-style: disc !important;
}
