@import '~bootstrap/scss/bootstrap';

.file-upload {
  label {
    display: inline-block;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
}

.feedlist {
  width: 100%;
  max-width: 800px;
  .card {
    margin-bottom: 16px;
    &-header {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }
    ul {
      li {
        list-style: none;
      }
    }
  }
}

.view-btn {
  font-size: 14px;
}

.li-dot {
  list-style: disc !important;
}

.title {
  color: #0866ff;
  font-weight: 700;
}

.top_wrapper {
  max-width: 1100px;
  padding: 0 12px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.share_container {
  width: 100%;
}

.share_right,
.share_left {
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(252, 245, 245);
  height: 100%;
}

.share_left {
  label {
    font-weight: 500;
    font-size: 18px;
  }
}
.post_btn {
  display: block;
  width: 511.98px;
  margin: 20px 0;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
